.container{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  flex-wrap: wrap;
  width: 800px;
  height: 400px;
  margin: 10px;
  float: left;
}

.item{
  height: 50px;
  width: 200px;
  margin: 10px;
  font-weight: bold;
}
